[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupyter = "*"
pytest = "*"

[packages]
fastapi = "*"
fastapi-utils = "*"
uvicorn = {extras = ["standard"], version = "*"}
sqlalchemy = "*"
pytesseract = "*"
pdf2image = "*"
pillow = "*"
cmake = "*"
pandas = "*"
python-multipart = "*"
dataclasses = "*"
psycopg2-binary = "*"
python-dotenv = "*"
pypdf2 = "*"

[requires]
python_version = "3.7.9"
